:root{
    --clr-green-light: hsl(90, 100%, 50%);
    --clr-green-dark: hsl(120, 100%, 25%);
    --clr-blue-dark: hsl(240, 100%, 50%);
    --clr-blue-light: hsl(219, 79%, 66%);
    --clr-purple: hsl(300, 100%, 25%);
    --clr-orange-light: hsl(21, 65%, 59%);
    --clr-orange-light-200: hsl(34, 78%, 91%);
    --clr-branco: hsl(0, 0%, 100%);
    --clr-preto: hsl(0, 0%, 15%);
    --clr-red-light: #b4180d;
    --clr-preto-dark: #7d0f08;
}